.Rproj.user
.Rhistory
.RData
.Ruserdata
senftenberg2016.Rproj
dpcR_poster-concordance.tex
dpcR_poster.aux
dpcR_poster.bbl
dpcR_poster.blg
dpcR_poster.log
dpcR_poster.nav
dpcR_poster.out
dpcR_poster.snm
dpcR_poster.synctex.gz
dpcR_poster.toc
biogram_poster-concordance.tex
biogram_poster.aux
biogram_poster.bbl
biogram_poster.log
biogram_poster.nav
biogram_poster.out
biogram_poster.snm
biogram_poster.synctex.gz
biogram_poster.toc
