.Rproj.user
.Rhistory
.RData
.Ruserdata
senftenberg2016.Rproj
dpcR_poster-concordance.tex
dpcR_poster.aux
dpcR_poster.bbl
dpcR_poster.blg
dpcR_poster.log
dpcR_poster.nav
dpcR_poster.out
dpcR_poster.snm
dpcR_poster.synctex.gz
dpcR_poster.toc
