.Rproj.user
.Rhistory
.RData
.Ruserdata
senftenberg2016.Rproj
amyloid_poster-concordance.tex
amyloid_poster.aux
amyloid_poster.bbl
amyloid_poster.blg
amyloid_poster.log
amyloid_poster.nav
amyloid_poster.out
amyloid_poster.snm
amyloid_poster.synctex.gz
amyloid_poster.toc
